@page "/"

<PageTitle>Home</PageTitle>

<h1 class="title is-1">Hello, world!</h1>

<Block>
    Welcome to your new BlazorExpress Bulma - Web App (.NET 8).<br />
    - Interactive render mode: Auto. <br />
    - Interactive location: Global.
</Block>
